@font-face {
  font-family: Mazzard;
  src: url("../../public/fonts/MazzardM-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Mazzard;
  src: url("../../public/fonts/MazzardM-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Mazzard;
  src: url("../../public/fonts/MazzardM-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Mazzard;
  src: url("../../public/fonts/MazzardM-Bold.ttf");
  font-weight: 700;
}