@import "./styles/reset.scss";

.App {
  font-family: Mont, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

iframe {
  display: none;
}
